*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#D8BFD8;
    color:#222;
    line-height:1.7;
}

/*HEADER*/
header{
    position:sticky;
    top:0;
    z-index:1000;
    background:rgba(255,255,255,.95);
    backdrop-filter:blur(10px);
    box-shadow:0 3px 12px rgba(0,0,0,.15);
}

/*CONTAINER*/
.container-header{
    width:min(1200px,92%);
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:90px;
}

/*LOGO*/
.logo{
    text-decoration:none;
    color:#222;
}

.logo h1{
    font-size:2.2rem;
    transition:.3s;
}

.logo:hover h1{
    color:#FDB927;
}

/*MENU*/
nav{
    display:flex;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:#222;
    font-weight:bold;
    font-size:1.05rem;
    position:relative;
    transition:.3s;
}

/* Linha inferior */
nav a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;
    height:3px;
    background:#FDB927;
    transition:.3s;
}

nav a:hover{
    color:#552583;
}

nav a:hover::after{
    width:100%;
}

/* Página atual */
nav a.ativo{
    color:#552583;
}

nav a.ativo::after{
    width:100%;
}

/*MAIN*/
main{
    width:min(1200px,90%);
    margin:auto;
}

h2{
    text-align:center;
    color:green;
    margin:50px 0;
}

/*BIOGRAFIA*/
.biografia{
    display:flex;
    gap:50px;
    align-items:flex-start;
}

.texto{
    flex:2;
}

.texto p{
    margin-bottom:20px;
    text-align:justify;
}

/*LATERAL*/
.informacoes{
    flex:1;
}

.informacoes img{
    width:100%;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

/*TABELA*/
table{
    width:100%;
    border-collapse:collapse;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
}

th,
td{
    border:1px solid #DDD;
    padding:12px;
    text-align:left;
}

th{
    background:#4CAF50;
    color:white;
}

tr:nth-child(even){
    background:#F8F8F8;
}

tr:hover{
    background:#EFEFEF;
}

/*TABLET*/
@media(max-width:992px){

    .biografia{
        flex-direction:column;
    }

    .informacoes{
        width:100%;
        max-width:450px;
        margin:auto;
    }
}

/*CELULAR*/
@media(max-width:768px){
    .container-header{
        flex-direction:column;
        padding:20px 0;
    }

    nav{
        margin-top:20px;
        flex-wrap:wrap;
        justify-content:center;
        gap:18px;
    }

    .logo h1{
        font-size:1.9rem;
    }

    h2{
        font-size:1.6rem;
    }
}