*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#D8BFD8;
    color:#222;
    line-height:1.7;
}

/*HEADER*/
header{
    text-align:center;
    padding:30px 20px;
}

.titulo{
    text-decoration:none;
    color:inherit;
}

header h1{
    font-size:3rem;
    color:#000080;
    margin-bottom:25px;
}

header h1:hover{
    color:black;
}

/*MENU*/
nav{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:black;
    font-weight:bold;
    font-style:italic;
    transition:.3s;
}

nav a:hover{
    color:blue;
}

hr{
    width:90%;
    margin:25px auto 0;
    height:3px;
    border:none;
    background:#F0E68C;
}

/*MAIN*/
main{
    width:min(1200px,90%);
    margin:auto;
}

h2{
    text-align:center;
    color:green;
    margin:50px 0;
}

/*BIOGRAFIA*/
.biografia{
    display:flex;
    gap:50px;
    align-items:flex-start;
}

.texto{
    flex:2;
}

.texto p{
    margin-bottom:20px;
    text-align:justify;
}

/*LATERAL*/
.informacoes{
    flex:1;
}

.informacoes img{
    width:100%;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

/*TABELA*/
table{
    width:100%;
    border-collapse:collapse;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
}

th,
td{
    border:1px solid #DDD;
    padding:12px;
    text-align:left;
}

th{
    background:#4CAF50;
    color:white;
}

tr:nth-child(even){
    background:#F8F8F8;
}

tr:hover{
    background:#EFEFEF;
}

/*TABLET*/
@media(max-width:992px){

    .biografia{
        flex-direction:column;
    }

    .informacoes{
        width:100%;
        max-width:450px;
        margin:auto;
    }
}

/*CELULAR*/
@media(max-width:768px){
    header h1{
        font-size:2rem;
    }

    nav{
        flex-direction:column;
        gap:15px;
    }

    h2{
        font-size:1.6rem;
    }
}