*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(180deg,#552583,#FDB927);
    color:white;
}

/*HEADER*/
header{
    text-align:center;
    padding:30px 20px;
}

.titulo{
    text-decoration:none;
    color:inherit;
}

header h1{
    font-size:3rem;
    margin-bottom:25px;
}

header h1:hover{
    color:black;
}

/*MENU*/
nav{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

nav a{
    color:black;
    text-decoration:none;
    font-style:italic;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:blue;
}

hr{
    width:90%;
    margin:25px auto 0;
    border:none;
    height:3px;
    background:#F0E68C;
}

/*MAIN*/
main{
    width:min(1200px,90%);
    margin:auto;
}

h2{
    text-align:center;
    margin:60px 0;
    color:white;
}

/*LINHA DO TEMPO*/
.timeline{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:25px;
}

.time-card{
    width:220px;
    background:#FFB81C;
    color:black;
    border-radius:12px;
    padding:20px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
    transition:.3s;
}

.time-card:hover{
    transform:translateY(-8px);
}

.time-card img{
    width:140px;
    height:auto;
    margin-bottom:15px;
}

.time-card p{
    font-size:1.2rem;
    font-weight:bold;
}

.heat{
    background:#98002E;
    color:white;
}

.lakers{
    background:#552583;
    color:white;
    border:2px solid #FDB927;
}

.seta{
    width:70px;
}

/*TABLET*/
@media(max-width:992px){
    .timeline{
        gap:15px;
    }

    .time-card{
        width:180px;
    }
}

/*CELULAR*/
@media(max-width:768px){
    header h1{
        font-size:2rem;
    }

    nav{
        flex-direction:column;
        gap:15px;
    }

    .timeline{
        flex-direction:column;
    }

    .seta{
        width:45px;
        transform:rotate(90deg);
    }

    .time-card{
        width:100%;
        max-width:320px;
    }
}