body{
    background-color: lightblue;
    overflow-y: hidden;
}

header{
    position: fixed;
    align-content: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: -150px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 110px;
}

h1:hover{
    color: black;
}


nav{
    display: inline;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}

a{
    margin-left: 170px;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

a.título:hover{
    text-decoration-color: black;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

hr{
    margin-left: 120px;
    width: 155vh;
    background-color: #F0E68C;
    height: 3px;
    border: none;
}

section.form{
    padding: 80px 4%;
    margin-top: 125px;
}

h2{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: rgb(122, 3, 122);
    font-size: xx-large;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

form input, form textarea{
    width: 100%;
    background-color: #e2e1e1;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #000;
    font-size: 18px;
}

form input::placeholder{
    color: #5b5959;
}

form textarea{
    resize: none;
    max-height: 75px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: rgb(250, 116, 116);
    color: #000;
    font-weight: 700;
    cursor: pointer;
}