*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(90deg,#C87C42,#FF7F32);
    color:#222;
}

/*HEADER*/
header{
    text-align:center;
    padding:30px 20px;
}

.titulo{
    text-decoration:none;
    color:inherit;
}

header h1{
    font-size:3rem;
    margin-bottom:25px;
}

header h1:hover{
    color:black;
}

/*MENU*/
nav{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:black;
    font-weight:bold;
    font-style:italic;
    transition:.3s;
}

nav a:hover{
    color:blue;
}

hr{
    width:90%;
    margin:25px auto 0;
    height:3px;
    border:none;
    background:#F0E68C;
}

/*MAIN*/
main{
    width:min(1400px,95%);
    margin:auto;
}

section{
    margin:60px 0;
}

h2{
    text-align:center;
    margin-bottom:40px;
    color:#352DB0;
}

/*TABELA */
.tabela{
    width:100%;
    overflow-x:auto;
    background:white;
    border-radius:10px;
    padding:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

table{
    width:100%;
    min-width:1200px;
    border-collapse:collapse;
}

th,
td{
    border:1px solid #DDD;
    padding:12px;
    text-align:center;
    font-weight:bold;
}

th{
    background:#352DB0;
    color:white;
    position:sticky;
    top:0;
}

td{
    background:#68929A;
    color:white;
}

tr:nth-child(even) td{
    background:#5C858C;
}

tr:hover td{
    background:#4E747B;
}

/*TABLET*/
@media(max-width:992px){
    header h1{
        font-size:2.4rem;
    }
}

/*CELULAR*/
@media(max-width:768px){
    header h1{
        font-size:2rem;
    }

    nav{
        flex-direction:column;
        gap:15px;
    }

    h2{
        font-size:1.6rem;
    }
}